<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<html class="dark">
  <brn-select class="inline-block" placeholder="Select an option">
    <hlm-select-trigger>
      <hlm-select-value />
    </hlm-select-trigger>
    <hlm-select-content class="w-56">
      <hlm-option value="Refresh">Refresh</hlm-option>
      <hlm-option value="Settings">Settings</hlm-option>
      <hlm-option value="Help">Help</hlm-option>
      <hlm-option value="Signout">Sign out</hlm-option>
    </hlm-select-content>
  </brn-select>
</html>
